{% extends "base.html" %}
{% block content %}
<div class="content-section">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <h2>Wordcloud for "User"'s tweets</h2>
      </div>
    </div>
    <div class=" row" align="middle">
      <div class="col mb-3" >
        <img class="img-fluid" src="/media/wordcloud.png" height="400" width="400">
      </div>
    </div>
    <div class="container">
        <div class="card mb-2">
          <h5 class="card-header">User's most liked Tweets</h5>
          <div class="card-body">
            <ol>
                {% for tweet in most_liked_tweets %}
                <li><strong><a href="{{ tweet }}" target="_blank">Tweet Text</a></strong></li>
                <hr>
                {% endfor %}
            </ol>
          </div>
        </div>



        <div class="card mb-2">
          <h5 class="card-header">User's most Retweeted Tweets</h5>
          <div class="card-body">
            <ol>
              {% for tweet in most_retweeted_tweets %}
              <li><strong><a href="{{ tweet }}" target="_blank">Tweet Text</a></strong></li>
              <hr>
              {% endfor %}
            </ol>
          </div>
        </div>

        <div class="card mb-2">
          <h4 class="card-header">User's Top Words</h4>
          <div class="card-body">
            <ol>
                {% for word in top_words %}
                <li><strong>{{ word }}</a></strong></li>
                <hr>
                {% endfor %}
            </ol>
          </div>
        </div>
    </div>
</div>
{% endblock content %}
