<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div class="content-section">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <h2>Wordcloud for "User"'s tweets</h2>
        </div>
    </div>
    <div class=" row" align="middle">
        <div class="col mb-3">
            <img class="img-fluid" src="/media/wordcloud.png" height="400" width="400">
        </div>
    </div>
    {% endblock %}
</body>
</html>