{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="display:flex; justify-content: flex-start; margin: 20px;">
    <div style="display:flex; justify-content: flex-start; margin: 20px;">
        <div class="card mb-2">
            <h2 class="card-header">Most Liked Tweets</h2>
            <div class="card-body">
                <ul>
                    {% for tweet in most_liked_tweets %}
                    <li>
                        <blockquote class="twitter-tweet"><p lang="en" dir="ltr"></p>&mdash; {{ name }}
                            (@{{name}}) <a href="{{ tweet }}">March 29, 2020</a></blockquote>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </li>
                    <hr>
                    {% endfor %}
                </ul>
            </div>
        </div>


        <div class="card mb-2">
            <h2 class="card-header">Most Retweeted Tweets</h2>
            <div class="card-body">
                <ul>
                    {% for tweet in most_retweeted_tweets %}
                    <li>
                        <blockquote class="twitter-tweet"><p lang="en" dir="ltr"></p>&mdash; {{ name }}
                            (@{{name}}) <a href="{{ tweet }}">March 29, 2020</a></blockquote>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </li>
                    <hr>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="card mb-2">
    <h3 class="card-header">Most mentioned users</h3>
    <div class="card-body">
        <ul>
            {% for key, value in most_mentioned_dict.items %}
                {% if forloop.counter < 15 %}
                    <li><strong>{{ key }} Mentioned {{ value }} times.</a></strong></li>
                    <hr>
                {% endif %}
            {% endfor %}

        </ul>
    </div>
</div>
</body>
</html>
{% endblock content %}